#container {
	width: fit-content;
	height: fit-content;
	padding-left: 1em;
	padding-right: 1em;
	height: 186px;
	border-radius: 20px;
	background: rgba(118, 118, 118, 0.1);
	margin: auto;
	margin-top: 50px;
}

#item {
	display: inline-block;
	width: 136px;
	/*height: 130px;*/
	/*background: black;*/
	margin-top: 25px;
	border-radius: 10px; 
}

#canvas {
	height: 136px;
	background: rgba(118, 118, 118, 0.3);
	border-radius: 10px;
}

#name {
	height: 25px;
}

p {
	color: rgb(118, 118, 118);
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
	text-align: center;
	position: relative;
	top: 4px;
	font-size: 18px;
	font-family: Arial;
}

#picture {
	background: black;
	height: 100px;
	width: 100px;
	margin: auto;
	position: relative;
	top: 18px;
}

/*#item:hover {
	background: black;
}*/